<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(assets/images/auth/shop-traditionnal-image.jpg)' }"></div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="penc-logo d-block mb-2">Penc<span>Office</span></a>
            <form #f="ngForm" (ngSubmit)="f.valid && onLoggedin(f.value)" class="forms-sample">
              <div class="mb-3">
                <label for="inputEmail1" class="form-label">Email address</label>
                <input type="email" #email ngModel name="email"  class="form-control" id="inputEmail" placeholder="mail@mail.sn" value="admin@demo.sn">
              </div>
              <div class="mb-3">
                <label for="inputPassword1" class="form-label">Mot de passe</label>
                <input type="password" #password ngModel name="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password" placeholder="Password">
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="authCheck">
                <label class="form-check-label" for="authCheck">
                  se souvenir
                </label>
              </div>
              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0">connexion</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>