<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(assets/images/auth/shop-traditionnal-image.jpg)' }">

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="penc-logo d-block mb-2">Penc<span>Office</span></a>
            <h5 class="text-muted fw-normal mb-4">Créer un compte.</h5>
            <form class="forms-sample">
              <div class="mb-3">
                <label for="exampleInputUsername1" class="form-label">Nom utilisateur</label>
                <input type="text" class="form-control" id="exampleInputUsername1" autocomplete="Username" placeholder="Username">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Address mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password" placeholder="Password">
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="authCheck">
                <label class="form-check-label" for="authCheck">
                  se souvenir
                </label>
              </div>
              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="onRegister($event)">Inscription</button>
              </div>
              <a routerLink="/auth/login" class="d-block mt-3 text-muted">Déjà inscrit ? Conexion</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>